/*-- scss:defaults --*/

$link-color: #F4BA02;
$body-bg: #01364C;
$body-color: #E1E8EB;

/*-- scss:rules --*/

$theme-highlight: #561a26;
$theme-background: #E1E8EB;

.slide-background-content{
    background-color: $theme-background;
}

.highlight{
    color: $theme-highlight;
}

.link{
    color: $link-color;
}

.table-striped {
    > tbody > tr:nth-of-type(odd) > * {
      background-color: #f2f2f2;
    }
  }

.cell-output {
  background-color: body-color;
  border-radius: 4px;
}
